__pycache__/
# Ignore all files in the log directory
log/*
# But not the .gitkeep file, so we can track the empty directory
!log/.gitkeep

# Ignore all session data directories created at runtime
running_sessions/*
# But not the .gitkeep file
!running_sessions/.gitkeep

node_modules/
package-lock.json
configurations/*
!configurations/.gitkeep

# Ignore root-level log files
*.log
