fastapi
uvicorn[standard]
langchain-core
langchain-community
langchain-openai
openai
python-dotenv
pydantic[email]
email-validator
pycountry
pymongo
bcrypt
websockets
APScheduler
croniter
motor
soniox
