fastapi
uvicorn[standard]
langchain-core
langchain-community
langchain-openai
openai
python-dotenv
pydantic[email]
email-validator
pycountry
pymongo==4.6.1
bcrypt==4.1.2
websockets
APScheduler
croniter
motor
